@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100&display=swap");

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.flex-child {
  position: relative;
}

.flex-child div {
  position: absolute;
  border-radius: 75%;
  width: 250px;
  height: 600px;
margin-top: 150px;

}

.flex-item1 {
  background-color: rgba(255, 255, 0, 0.329);
  left: -76px;
}
.flex-item2 {
  background-color: rgba(255, 0, 0, 0.534);
  right: -35px;
  top: -30px;
}
.flex-item3 {
  background-color: rgba(0, 0, 255, 0.493);
  left: -200px;
  bottom: -100px;
  z-index: 1;
}

.flex-item4{
  background-color: rgba(0, 128, 0, 0.521);
  

}

/* Glass layer styling */

.glass-layer {
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid red 3px; */
  /* height: 100%; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.007);

  backdrop-filter: blur(100px);
  z-index: 7;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
}
.brand-name {
  color: white;
  margin: 10px;
  padding: 10px;
  /* border: solid red 2px; */
  width: 230px;
  font-size: 18px;
}
.brand-name span {
  font-weight: 400;
  color: grey;
}
.nav-link {
  color: white;
  margin: 10px;
  /* border: solid red; */
  height: max-content;
}

.nav-link a {
  margin-right: 25px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.btn-one {
  border-radius: 15px;
  background-color: black;
  color: white;
  border: white 1px solid;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}

.btn-one i {
  margin-left: 5px;
}
.brand-logo {
  color: white;
  margin: 0 auto;
  margin: 20px;
  padding: 20px;
}
.fa-bolt {
  font-size: 25px;
}

/* container class */
.container {
  width: 100%;
  padding: 5px 0;
  max-width: 1200px;
  margin: 0 auto;
  /* border: solid red 2px; */
}
.first-content {
  color: white;
  font-size: 40px;
}
.flex-content {
  display: flex;
  justify-content: space-between;

  color: white;
}
.stage-one {
  margin-bottom: 20px;
  height: 100px;
  width: 50%;
  font-size: 25px;
  font-weight: 700;
}

.stage-one p{
  margin: 2px 0;
}
.stage-two{
  padding: 10px;
  width: 50%;
  margin-right: 6px;
  
  font-weight: 400;
}

.div-container {
  width: 100%;
  padding: 5px 0;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(23, 23, 23, 255);
}
.flex-object1 {
  padding-left: 10px;
  margin-left: 45px;
}
.flex-object2 {
  margin-right: 45px;
}
.btn-two {
  border-radius: 15px;
  background-color: white;
  color: black;
  border: white 1px solid;
  padding: 10px;
  width: 100px;

  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cover {
  background-color: rgba(23, 23, 23, 255);
  margin-top: 50px;
}
.inner-text {
  color: white;
}
.div-paragraph {
  margin-top: 20px;
}
.icon-flex {
  display: flex;
  padding: 10px 0;
  gap: 10px;
}
.flex-term {
  display: flex;
  gap: 10px;
}

.container-one {
  width: 100%;
  padding: 1px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.stage-three {
  margin-top: 5px;
  padding: 4px;
  
}

.items {
  padding : none 0;
  margin : none 0;
}

.items p {
  margin: 2px 0;
}
.input-button {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  position: relative;
}

.input-button input {
  
 
 
  border: 0px;
  outline: none;
  background: transparent;
  color: white;
  font-size: 15px;
  padding: 16px;
  /* border-left-width:0;  */
  border-right: 0;
  border-top: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  /* border-top: 0;  */
}

.piper {
  /* height: 50px; */
  /* width: 50px; */
  /* 
    👆👆👆👆👆👆👆👆
    I told you to reduce these values I commented 👆above
    to be smaller, "50px" height & width is 
    still too big!. 

    ** But don't worry i just helped reduced them for
    you 👇below to "30px".
  */
  height: 40px;
  width: 3px;
  border: solid black 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}

.btn-three {
  border: 0;
  width: 100px;
  border: 2px solid white;
  outline: none;
  background: transparent;
  color: white;
  border-radius: 0px 30px 30px 0;
}

.hr-dark{
border: 1px solid black;
}
.base-bottom{
  margin-top: 40px !important;
  padding : 0;
    margin : 0;
 
}
.base-bottom p{
 margin: 1px 0; 
}
.container-staged{
  width: 100%;
  padding: 5px 0;
  max-width: 1200px;
  margin: 0 auto;}

.flex-display {
  display: flex;
  justify-content: space-between;
  
  color: white;
}
.grade-one {
  
  height: 100px;
  width: 50%;
  font-size: 25px;
  font-weight: 700;
}
.grade-one p{

}
.grade-two{
  padding: 10px;
  width: 50%;
  margin-right: 6px;
  
  font-weight: 400;
}

@media only screen and (max-width: 500px){

.flex-content{
  flex-direction: column;
  padding: 10px;
  margin: 5px;

}

.first-content{
  padding: 10px;
}
.flex-display{
  flex-direction: column;
  padding: 10px;
}

.grade-one{
width: 100%;
}

.grade-two{
  width: 100%;
}


.nav-link a{
  width:100%;
  display:none;
}

.stage-one p{

height:100px;

margin: 25px 0px;
}

.stage-one i{
  margin: 35px;
}
.stage-two p { 
  margin: 22px 0;

}

.brand-name {
  width: 100px;
}

.input-button input{
 margin-top: 10px;
}

.flex-object1 {
margin-left: 2px;
padding-left: 10px;
}

.inner-text{
  padding-left: 15px;
}
.stage-one{
  width:100%;
}
.stage-two{
  width: 100%;
}

.flex-child div {
  position: absolute;
  border-radius: 75%;
  width: 195px;
  height: 600px;
margin-top: 150px;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.flex-child {
  position: relative;
}





.flex-item1 {
  background-color: rgba(255, 255, 0, 0.329);
  left: -76px;
}
.flex-item2 {
  background-color: rgba(255, 0, 0, 0.534);
  right: -35px;
  top: -30px;
}
.flex-item3 {
  background-color: rgba(0, 0, 255, 0.493);
  left: -200px;
  bottom: -100px;
  z-index: 1;
}

.flex-item4{
  background-color: rgba(0, 128, 0, 0.521);
  

}

}